button {
    background: black;
    color: #00cdce;
    padding: 10px 20px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.back_to_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}
