button {
    background: black;
    color: #00cdce;
    padding: 10px 20px;
    border: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.back_to_top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}

.cd-top--fade-out {
    opacity: .5;
}

.back_to_top i{
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    line-height: 35px;
    color: #0BBBCC;
    border: 2px solid #0BBBCC;
    border-radius: 100%;
}
