.blog {

}

.blog h2 {
    padding: 40px 0;
} 

.blog__list-vertical {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
}

.blog__item-vertical {
    background-color: #efefef;
    padding-bottom: 20px;
}

.blog__item-vertical img {
    width: 100%;
}

.blog__item-vertical::before {
    content: "";
    background-color: #00cdce;
    width: 100%;
    height: 3px;
    display: block;
}

.blog__item-vertical figcaption {
    padding: 0 20px;
}

.blog__item-vertical figcaption p:nth-child(1) {
    color: #00cdce;
    font-size: 1.1rem;
    font-weight: 500;
    padding-top: 10px;
}

.blog__item-vertical figcaption p:nth-child(2) {
    color: #292b2b;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 5px 0;
    line-height: 1.3rem;
}

.blog__item-vertical figcaption button {
    margin-top: 10px;
}

.blog__item-horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
}

.blog__item-horizontal .blog__video {
    width: 40%;
    height: 320px;
    position: relative;
}

.blog__video img {
    width: 100%;
    height: 100%;
}

.blog__video i {
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 100%;
    background-color: rgba(0, 205, 206, 0.6);
}

.blog__item-horizontal figcaption {
    background-color: #00cdce;
    height: 320px;
    padding: 0 70px;
    text-align: center;
    width: 60%;
}

.blog__item-horizontal figcaption h2 {
    padding: 30px;
}

.blog__item-horizontal figcaption .text-description {
    color: white;
    font-size: 0.7rem;
    line-height: 25px;
}

.blog__item-horizontal figcaption button {
    margin-top: 20px;
}

.blog__video:hover i {
    animation-name: upDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: red;
}

@keyframes upDown {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.4);
    }
}