.portfolio {
    margin-top: 20px;
    margin-bottom: 40px;
}

.portfolio__list {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 0.6rem 1.4rem;
    grid-template-columns: repeat(3, 1fr);
}

.portfolio__item img {
    width: 100%;
}