.stats {
    background-color: #00cdce;
    text-align: center;
    margin-top: 30px;
}

.stats__number {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
}

.stats__number p:nth-child(1) {
    color: white;
    font-size: 2.2rem;
    font-weight: 600;
    transition: all .3s;
}

.stats__number p:nth-child(2) {
    padding: 10px 0;
    font-size: 1.2rem;
    font-weight: 600;
}

.stats__number p:nth-child(1):hover {
    transform: scale(1.4);
}