.subscribe {
    background-color: #00cdce;
    text-align: center;
    padding: 20px;
}

.subscribe__content {
    width: 50%;
    margin: 0 auto;
}

.subscribe__content .text-description {
    line-height: 1rem;
}

.subscribe__content input {
    width: 60%;
    padding: 8px 0;
    margin-top: 20px;
}

.subscribe__content button {
    width: 20%;
    display: block;
    margin: 15px auto 20px auto;
    
}